#create-form
{
    width: 300px;
}

#load-form
{
    width: 300px;
}

section.main
{
    width: 800px;
    margin: auto;
}

.hidden
{
    display: none !important;
}

table, th, td
{
    border: 1px solid black;
}