#create-form
{
    width: 300px;
}

#load-form
{
    width: 300px;
}

#encounter-form
{
    width: 700px;
}

#initial-select-encounter
{
    width: 100%;
    height: 100%;
}

#initial-button-delete
{
    float: right;
}

#change-hp-input
{
    width: 30px;
}

#change-initiative-input
{
    width: 30px;
}

#encounter-table tr td:nth-child(1), #encounter-table th:nth-child(1)
{
    display: none;
}

section.main
{
    width: 800px;
    margin: auto;
}

.small_input
{
    width: 40px;
}

.small_button
{
    width: 50px;
}

.hidden
{
    display: none !important;
}

legend
{
    font-weight: bold;
}

table, th, td
{
    border: 1px solid black;
}